 .Hero {
    left: 50%;
    position: relative;
    top: 0;
    transform: translateX(-50%);
    
    width: 100%;
    z-index: 0;
}


.Hero-img {
    height: 95.95%;;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.Hero-mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 24, 29, 0.7) 0%, rgba(20, 24, 29, 0) 20%), 
                linear-gradient(0deg, #14181d 10%, rgba(20, 24, 29, 0.8) 20%, rgba(20, 24, 29, 0) 40%),
                linear-gradient(90deg, #14181d 0%, rgba(20, 24, 29, 0) 20%),
                linear-gradient(270deg, #14181d 0%, rgba(20, 24, 29, 0) 20%);
    z-index: 0;
}

.Hero-metadata {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
    right: 0;
    transform-origin: 50% 0;
    z-index: 100;
}

.Hero-div{
    padding-top: 450px;
    z-index: 1;
    position: relative;
    text-align: center;
    line-height: 1;
}
.Hero-h2 {
    font-family: "TiemposHeadlineWeb", Georgia,serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0 0 10px;
    color: #fff;
    overflow-wrap: break-word;
    font-style: inherit;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  }

.Header-h1.mobile {
    display: none;
}
.Hero-cta{
    margin: 2rem 0;
    background: #00c030;
    color: #fff;

    font-size: 1rem;
    padding: 0.625em 1.5em;

    letter-spacing: .075em;
    text-transform: uppercase;

    cursor: pointer;
    border: none;
    border-radius: 3px;

    display: inline-block;
    font-family: "Graphik-Web",sans-serif;
    font-weight: 500;
    line-height: 1;
}

.Hero-p{
    max-width: 80%;
    margin: 0 auto;
}
.Hero-p br{
    display: none;
}
.Hero-p span{
    padding-left: .5rem;
}

.Hero-icon{
    display: inline;
    padding: 0 .2rem;
    width: auto;
}
.Hero-icon.apple{
    height: 1.2rem;
}
.Hero-icon.android{
    height: 1rem;
}


@media (max-width:768px){
    .Hero-p br{
        display: block;
    }
    .Hero-p{
        line-height: 2rem;
    }
    .Header-h1.mobile {
        display: inline-block;
    }
    .Hero {
        height: 540px;
        left: 50%;
        position: relative;
        top: 0;
        transform: translateX(-50%);
        width:100vw;
        z-index: 0;
    }
    .Hero-h2 {
        font-family: "Graphik-Web",sans-serif;
        font-size: 1.5rem;
        line-height: 1.75rem;
        font-weight: 400;
         margin-bottom: 0.38461538rem;
        
    }
    .Hero-metadata {
        font-size: .65rem;
        top: 40%;
        transform-origin: 50% 0;
    }
    .Hero-img {
        height: 45%;
        top: 10%;
    }
    .Hero-mask {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 10%;
    }
    .Hero-div {
        padding-top: 306px;
    }
    .Hero-cta{
        margin: 2rem 0;
        background: #00c030;
        color: #fff;

        font-size: 1rem;
        padding: 0.625em 1.5em;

        letter-spacing: .075em;
        text-transform: uppercase;

        cursor: pointer;
        border: none;
        border-radius: 3px;

        display: inline-block;
        font-family: Graphik-Web,sans-serif;
        font-weight: 600;
        line-height: 1;
    }
}

