.Films{
    background-color: #1E252C;
}

.Films-popular{
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
    
    padding: 2em 0;
}
.Popular-carrousel{
    display: flex;
}

.Popular-intro{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #456;
    color: #9ab;
    font-family: GraphikWeb, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .075em;
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.Popular-li{
    margin-right: 10px;
}
.Film-poster{
    width: 230px;
    background: #161718;
}
.Film-poster:hover{
    border-radius: 3px;
    border: 2px solid #00e054;
    transition: border .1s linear;
}
.Film-poster img{
    border-radius: 3px;
    display: block;
}

/* Tooltip con el titulo de la peli */
.Film-info{
    position: relative;
  }
  
/* Texto del tooltip */
.Film-info .Film-text {
    opacity: 0;
    background-color: #678;
    color: #fff;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 3px;
    font-family: Graphik-Web,sans-serif;
    font-size:.8rem;
    font-weight: 100;
    position: absolute;
    z-index: 1;
    top: -3rem;
  }
  /* flecha debajo del tooltip */
  .Film-info .Film-text::after {
    content: " ";
    position: absolute;
    top: 105%;
    left: 50%;
    margin-left: -10px;
    border-width: 6px;
    border-style: solid;
    border-color: #678 transparent transparent transparent;
  }
  
  /* mostrar titulo en hover */
  .Film-info:hover .Film-text {
    opacity: 1;
    transition: all .3s ease;
    transition-delay: 1s;
    transition-property: opacity;
  }

.Film-stats{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: .5rem 0;
    font-size: .9rem;
}
.Film-stats img{
    width: auto;
    height:.7rem;
    margin: 0 5px;
}
.Film-stat{
    display: inline-flex;
    margin: 0 5px;
}

