.Header{
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
}

.Header-logo{
    float: left;
    margin: 22px 0 0;
    position: relative;
}

.Header-ul{
    margin: 22px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.Header-li{
    width: fit-content;
    font-size: 1rem;
    margin: 0 10px; /* Add some spacing between items */
}

.Header-a{
    color: #d8e0e8;
    font-family: Graphik-Semibold-Web,sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.Header-section {
    height: 72px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; /* Add padding to the sides for better spacing */
  }
  

  
  