.Header {
  margin: 0 auto;
  width:  100%;
  max-width: 950px;
  z-index: 2;
  position: relative;
}
.Header-logo{
    width: 230px;
}

.Header-nav{
    width: 100%;
}
.Header-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

  }

.Header-a {
  color: #d8e0e8;
  font-family: Graphik-Semibold-Web, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .9rem;
}
.Header-section {
  height: 72px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-li {
    box-sizing: border-box; 
    font-size: 1rem;
    margin: 0 1rem; /* Add some spacing between items */
  }

.Login {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.Login.isVisible {
  opacity: 1;
  pointer-events: auto;
}
