@charset "UTF-8";

:root{
  --verde: #00c030;
  --naranja: #ff9010;
  --azul: #40bcf4;
  --bg-dark: #14181c;
  --grey-light: #d8e0e8;
  --grey-regular:#99aabb;
  --grey-semidark: #667788;
  --grey-dark: #445566;
  --white: #fafafa;
  --sans-font: "GraphikWeb",sans-serif;
  --serif-font: "TiemposHeadlineWeb",Georgia,serif;
}

body {
  font-family: var(--sans-font);
  background-color: var(--bg-dark);
  color: var(--grey-regular);
  height: 100%;
  width: 100%;
  line-height: 1;
  display: block;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face {
  font-family: "GraphikWeb";
  font-style: normal;
  font-weight: 400;
  src: "/assets/fonts/Graphik-Regular-Web.woff" format("woff")
}

@font-face {
  font-family: "GraphikWeb";
  font-style: normal;
  font-weight: 100;
  src: "/assets/fonts/Graphik-Light-Web.woff" format("woff") 
}


@font-face {
    font-family: "TiemposHeadlineWeb";
    font-style: normal;
    font-weight: 700;
    src:"/assets/fonts/TiemposHeadlineWeb-Bold.woff" format("woff")
  }


