@charset "UTF-8";

:root{
  --verde: #00ac1c;
}

body {
    font-family: GraphikWeb,sans-serif;
    background-color: #14181c;
    background-image: linear-gradient(to bottom,#14181c calc(var(--layout-flex-leaderboard-height)),#14181c calc(250px + var(--layout-flex-leaderboard-height)),#2c3440 calc(251px + var(--layout-flex-leaderboard-height)));
    background-position: 0 0;
    color: #9ab;
    height: 100%;
    width: 100%;
    line-height: 1;
    display: block;
}




input{
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid white;
}


::selection {
  background: #40bcf4;
  color: #fff;
}

@font-face {
  font-family: "GraphikWeb";
  font-style: normal;
  font-weight: 400;
  src: "/assets/fonts/Graphik-Regular-Web.woff" format("woff")
}

@font-face {
  font-family: "GraphikWeb";
  font-style: normal;
  font-weight: 100;
  src: "/assets/fonts/Graphik-Light-Web.woff" format("woff") 
}


@font-face {
    font-family: "TiemposHeadlineWeb";
    font-style: normal;
    font-weight: 700;
    src:"/assets/fonts/TiemposHeadlineWeb-Bold.woff" format("woff")
  }


